*.iml
.gradle/
/local.properties
/.idea/
.kotlin/
.DS_Store
/build/
/app/build/
/app/release/
/captures/
.externalNativeBuild/
.cxx/
*.apk
*.ap_
*.dex
*.aab
*.jks
*.keystore
/etravelnews
/etravelnews_jks*.txt
